[user]
	name = Carl Hörberg
	email = carl.hoerberg@gmail.com
[color]
	ui = true
[core]
	quotepath = false
	editor = /usr/bin/vim
	autocrlf = true
[alias]
  st = status
  ci = commit
  br = branch
  co = checkout
  df = diff
  log = log -p
  aa = add -A
  cm = commit -m 
  cam = commit -am 
  lsd = log --graph --decorate --pretty=oneline --abbrev-commit --all
  ps = push
  pl = pull

