[user]
  name = Carl Hörberg
  email = carl.hoerberg@gmail.com
[color]
  ui = true
[core]
  quotepath = false
  editor = /usr/bin/vim
  excludesfile = /Users/carl/.gitignore_global
	attributesfile = /home/carl/.gitattributes
[alias]
  st = status
  ci = commit
  br = branch
  co = checkout
  df = diff
  log = log -p
  aa = add -A
  ca = commit -a
  cm = commit -m
  cam = commit -am
  cmp = commit -p
  lsd = log --graph --decorate --pretty=oneline --abbrev-commit --all
  ps = push
  pl = pull
  plr = pull --rebase
  wip = for-each-ref --sort='authordate:iso8601' --format=' %(color:green)%(authordate:relative)%09%(color:white)%(refname:short)' refs/heads
[push]
  default = current
	followTags = true
[help]
  autocorrect = 1
[diff]
	algorithm = histogram
[pull]
	rebase = true
[commit]
	verbose = true
